/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
#Global
.vscode
.Apple*
.DS_Store
.clang_complete
.local.vimrc
.ycm_extra_conf.py*
Thumbs.db

# /
/*_fifo
/*.exe
/*.exe.*
/*.ilk
/*.iobj
/*.ipdb
/*.log
/*.ncb
/*.opensdf
/*.opt
/*.pdb
/*.pid
/*.sdf
/*.stackdump
/*.suo
*.o
*.a
*.vcxproj.user
/Makefile
/Makefile.cache

# Visual Studio
/packages/
.vs
*.VC.db
*.VC.opendb

/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/rathena.iml
/.idea/vcs.xml
/.idea/workspace.xml
/build/
/cbuild/

# CMakeFiles
/CMakeFiles/

# ccls
.ccls-cache
